---
layout: default
title: 21 Day Challenge
permalink: /21-day-challenge
---

<!-- Page Title
        ============================================= -->
<section id="slider" class="slider-element slider-parallax full-screen dark" style="background: url(images/21-day-challenge-bg.jpg) center center no-repeat; background-size: cover">

  <div class="slider-parallax-inner">

    <div class="container-fluid vertical-middle clearfix">

      <div class="heading-block title-center nobottomborder m-auto" style="max-width: 720px;">
        <h1>21 Day Challenge</h1>
        <span>From 0 to Fit in 3 Weeks</span>

        <div class="center bottommargin" >
        <div class="d-md-flex divcenter d-none categories-lists mt-5">
          <div class="mr-auto">
          <span class="list-group-item h6 t300 py-2 px-1 nobg border-0"><i class="icon-line-plus mr-2"></i>Downloadable guide</span>
          <span class="list-group-item h6 t300 py-2 px-1 nobg border-0"><i class="icon-line-plus mr-2"></i>Detailed instructions for each day</span>
          <span class="list-group-item h6 t300 py-2 px-1 nobg border-0"><i class="icon-line-plus mr-2"></i>Warm-up, Workout, and Cool Down movements</span>
          </div>
          <div class="">
          <span class="list-group-item h6 t300 py-2 px-1 nobg border-0"><i class="icon-line-plus mr-2"></i>Covers Physical Nutritional & Mental Challenges</span>
          <span class="list-group-item h6 t300 py-2 px-1 nobg border-0"><i class="icon-line-plus mr-2"></i>Daily video instructions</span>
          <span class="list-group-item h6 t300 py-2 px-1 nobg border-0"><i class="icon-line-plus mr-2"></i>Personal coaching options</span>
          </div>
          </div>
      </div>

      <div class="d-flex justify-content-center align-items-center divcenter categories-lists mt-4">
        <div class="d-flex t600 ml-2 mb-0 p-2 h5 text-dark center justify-content-center align-items-center" style="background: url('/images/brush.png')no-repeat center center / cover; width: 180px; height: 50px"><span class="align-self-center">$39</span></div>
        <a href="#pricing" class="button button-rounded button-large nott ml-4 align-self-center">View Options</a>
        </div>

      

        <!-- <a href="#modal-signup" data-lightbox="inline" class="button button-3d button-teal button-xlarge nobottommargin">
           💪🏼 Get Your No Sweat Intro 👊🏼</a> -->
      </div>

    </div>

  </div>
    <a href="#" class="scroll-down d-none d-lg-block" data-scrollto="#content" data-offset="80">
      <span class="scroll-mouse"><span class="scroll-wheel"></span></span>
    </a>
</section>
<!-- #page-title end -->


<!-- Content
============================================= -->
<section id="content" style="margin-bottom: 0px;">

  <div class="content-wrap">

    <div class="container clearfix">
          
          <div class="col_two_third topmargin nobottommargin">
            <h3>DO THE CHALLENGE. GIT FIT.</h3>
            <p>Our 21 Day Challenge will take you through three weeks of guided workouts, easy to follow nutrition checkpoints and even take your mental wellness to the next level.</p>
          </div>
          
          <div class="col_one_third topmargin nobottommargin col_last">
            <img src="https://images.ctfassets.net/ctmmyckif2fs/aTxPYNTdPFtFOln6plPQ8/903614582b73483d565d510bbe3692a5/21day.jpg" />
          </div>
    </div>

    <div class="container clearfix topmargin" id="pricing">
      {% include section-pricing-21-day-challenge.html %}
    </div>

  </div>

</section>
<!-- #content end -->


{% include section-contact.html %}

{% include section-contact-form.html %}

{% include modal-signup.html %}