---
layout: default
title: 21 Day Challenge
permalink: /21-day-challenge
---

<!-- Page Title
        ============================================= -->
<section id="slider" class="slider-element slider-parallax full-screen dark" style="background: url(images/21-day-challenge-bg.jpg) center center no-repeat; background-size: cover">

  <div class="slider-parallax-inner">

    <div class="container-fluid vertical-middle clearfix">

      <div class="heading-block title-center nobottomborder">
        <h1>21 Day Challenge</h1>
        <span>From 0 to Fit in 3 Weeks</span>
      </div>

      <div class="center bottommargin">

        <!-- <a href="#modal-signup" data-lightbox="inline" class="button button-3d button-teal button-xlarge nobottommargin">
           💪🏼 Get Your No Sweat Intro 👊🏼</a> -->
      </div>

    </div>

  </div>

</section>
<!-- #page-title end -->


<!-- Content
============================================= -->
<section id="content" style="margin-bottom: 0px;">

  <div class="content-wrap">

    <div class="container clearfix">
          
          <div class="col_two_third topmargin nobottommargin">
            <h3>DO THE CHALLENGE. GIT FIT.</h3>
            <p>Our 21 Day Challenge will take you through three weeks of guided workouts, easy to follow nutrition checkpoints and even take your mental wellness to the next level.</p>
          </div>
          
          <div class="col_one_third topmargin nobottommargin col_last">
            <img src="https://images.ctfassets.net/ctmmyckif2fs/aTxPYNTdPFtFOln6plPQ8/903614582b73483d565d510bbe3692a5/21day.jpg" />
          </div>
    </div>

    <div class="container clearfix topmargin">
      {% include section-pricing-21-day-challenge.html %}
    </div>

  </div>

</section>
<!-- #content end -->


{% include section-contact.html %}

{% include section-contact-form.html %}

{% include modal-signup.html %}