---
layout: default
title: Getting Started
permalink: /get-started
---

<!-- Page Title
        ============================================= -->
<section id="slider" class="slider-element slider-parallax full-screen dark" style="background: url(images/get-started-bg.jpg) center center no-repeat; background-size: cover">

  <div class="slider-parallax-inner">

    <div class="container-fluid vertical-middle clearfix">

      <div class="heading-block title-center nobottomborder">
        <h1>Today you start a new way to train</h1>
        <span>Try Triumph Strength &amp; Conditioning home of CrossFit Accretion free!!</span>
      </div>

      <div class="center bottommargin">
        <a href="#modal-signup" data-lightbox="inline" class="button button-3d button-teal button-xlarge nobottommargin">
           💪🏼 Start your FREE Trial 👊🏼</a>
      </div>

    </div>

  </div>

</section>
<!-- #page-title end -->


<!-- Content
============================================= -->
<section id="content" style="margin-bottom: 0px;">

  <div class="content-wrap">

    <div class="container clearfix">
          
          <div class="col_two_third topmargin nobottommargin">
          
            <h3>TRY CROSSFIT ACCRETION FREE!</h3>
          
            <p>Come on in for your FREE intro session and see why you’re going to love transforming yourself at Triumph Strength and Conditioning
            . See our facility, meet our members, chat with our coaches, and find out for yourself what a real fitness family is all
            about.</p>
            <div class="divider divider-short">
              <i class="icon-circle"></i>
            </div>
            <p>During your FREE intro session, you will receive:</p>          
            <ul class="iconlist iconlist-large iconlist-color">
              <li>
                <i class="icon-ok-sign"></i> A baseline fitness assessment</li>
              <li>
                <i class="icon-ok-sign"></i> An overview of our unique training methodology and class options</li>
              <li>
                <i class="icon-ok-sign"></i> A tour of our world-class training facility</li>
              <li>
                <i class="icon-ok-sign"></i> Specific information on how to transform your health, fitness, and lifestyle in record time</li>
              <li>
                <i class="icon-ok-sign"></i> And so much more!</li>
              <li>
                <i class="icon-ok-sign"></i> Lifetime
                <strong>FREE</strong> Updates</li>
            </ul>

            <div class="center bottommargin">
              <a href="#modal-signup" data-lightbox="inline" class="button button-3d button-teal button-xlarge nobottommargin">
                💪🏼 Start your FREE Trial 👊🏼</a>
            </div>
          
          </div>
          
          <div class="col_one_third topmargin nobottommargin col_last">
          
            <img src="images/get-started.jpg">
          
          </div>

    </div>

  </div>

</section>
<!-- #content end -->


{% include section-contact.html %}

{% include section-contact-form.html %}

   {% include modal-signup.html %}