---
layout: default
title: Homepage
permalink: /
---

{% include section-hero.html %}

{% include section-about.html %}

{% include section-whatiscrossfit.html %}

{% include section-blog.html %}

{% include section-map.html %}

{% include section-instagram.html %}

{% include section-programs.html %}

{% include section-how.html %}

{% include section-contact.html %}

{% include section-testimonials.html %}

{% include modal-signup.html %}

      <div class="modal-on-load enable-cookie" data-target="#lead-gen" data-delay="0" data-animation-in="fadeInDown"></div>

      <!-- Modal -->
      <div class="modal1 mfp-hide subscribe-widget" id="lead-gen">
        <div class="block dark divcenter" style="background: url('images/promo-leadgen@2x.jpg') no-repeat; background-size: cover; max-width: 700px;"
          data-height-xl="400">
          <div style="padding: 50px;">
            <div class="heading-block nobottomborder bottommargin-sm" style="max-width:500px;">
              <h3 data-animate="tada" class="tada animated"><span class="color">FREE</span> 4 Week Meal Plan</h3>
              <span>Kick start the new you with 8 full clean recipes.</span>
            </div>
            <div class="widget-subscribe-form-result"></div>

               {% include component-form-promo-lead.html %}

            <!-- <form class="widget-subscribe-form2" action="include/subscribe.php" role="form" method="post" style="max-width: 350px;">
              <input type="email" id="widget-subscribe-form2-email" name="widget-subscribe-form-email" class="form-control form-control-lg not-dark required email"
                placeholder="Enter your Email">
              <button class="button button-rounded button-border button-light noleftmargin" type="submit" style="margin-top:15px;">Subscribe</button>
            </form> -->
            <p class="nobottommargin">
              <small>
                <em>*We hate Spam &amp; Junk Emails.</em>
              </small>
            </p>
          </div>
        </div>
      </div>