---
layout: default
title: Online Programs
permalink: /online-programs
---

<!-- Page Title
        ============================================= -->
<section
  id="slider"
  class="slider-element slider-parallax full-screen dark"
  style="
    background: url(images/get-started-bg.jpg) center center no-repeat;
    background-size: cover;
  "
>
  <div class="slider-parallax-inner">
    <div class="container-fluid vertical-middle clearfix">
      <div class="heading-block title-center nobottomborder">
        <h1>Join our community wherever you are</h1>
        <span
          >Try Triumph Strength &amp; Conditioning Online Training
          Programs</span
        >
      </div>

      <div class="center bottommargin">
        <a
          href="#content"
          class="button button-3d button-teal button-xlarge nobottommargin"
        >
          💪🏼 View the Programs 💻</a
        >
      </div>
    </div>
  </div>
</section>
<!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content" style="margin-bottom: 0px;">
  <div class="content-wrap">
    <div class="container clearfix">
      <h3>TRY CROSSFIT ACCRETION ONLINE!</h3>

      <p>
        We're putting together the best training material we've compiled over
        the years and making it available to you. With these programs you'll
        receive the programing and coaching you need to succed in your your
        fitness goals regardless of where you are. All you need to add is your
        commitment and dicipline.
      </p>

      <div class="pricing-box pricing-extended bottommargin clearfix">
        <div class="pricing-desc">
          <div class="col_one_third nobottommargin">
            <img
              src="https://images.ctfassets.net/ctmmyckif2fs/aTxPYNTdPFtFOln6plPQ8/903614582b73483d565d510bbe3692a5/21day.jpg"
            />
          </div>
          <div class="col_two_third col_last">
            <div class="pricing-title">
              <h3>21 Day Challenge</h3>
            </div>
            <div class="pricing-features">
              <ul class="clearfix">
                <li>Downloadable guide</li>
                <li>Covers Physical Nutritional &amp; Mental Challenges</li>
                <li>Detailed instructions for each day</li>
                <li>Daily video instructions</li>
                <li>Warm-up, Workout, and Cool Down movements</li>
                <li>and much more!</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="pricing-action-area">
          <div class="pricing-price">
            <span class="price-unit">&dollar;</span>39<span class="price-tenure"
              >one time fee</span
            >
          </div>
          <div class="pricing-action">
            <a
              href="/21-day-challenge"
              class="button button-3d button-teal button-xlarge nobottommargin"
              >View Details</a
            >
          </div>
        </div>
      </div>


      <div class="pricing-box pricing-extended bottommargin clearfix">
        <div class="pricing-desc">
          <div class="col_one_third nobottommargin">
            <img
              src="https://images.ctfassets.net/ctmmyckif2fs/6Raq17z57On0UvZrjOntXO/df125bac40f3ebc2bf727ae8bb671a32/9weeks_strength_thumb.jpg"
            />
          </div>
          <div class="col_two_third col_last">
            <div class="pricing-title">
              <h3>9 Week of Strength</h3>
            </div>
            <div class="pricing-features">
              <ul class="clearfix">
                <li>Downloadable guide</li>
                <li>Focus and insight for each week's lifts</li>
                <li>Covers easy to follow program</li>
                <li>Warm-up and Workouts included</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="pricing-action-area">
          <div class="pricing-price">
            <span class="price-unit">&dollar;</span>29<span class="price-tenure"
              >one time fee</span
            >
          </div>
          <div class="pricing-action">
            <a
              href="/9-week-strength"
              class="button button-3d button-teal button-xlarge nobottommargin"
              >View Details</a
            >
          </div>
        </div>
      </div>
  </div>
</section>
<!-- #content end -->

{% include section-contact.html %} {% include section-contact-form.html %} {%
include modal-signup.html %}
