---
layout: default
title: Schedule
permalink: /schedule
---

<!-- Page Title
        ============================================= -->
<section id="page-title" class="page-title-parallax page-title-dark" style="padding: 150px 0; background-image: url('//images.contentful.com/ctmmyckif2fs/2Te3QCAfpmYgayu0kCgS8Y/48450a6c9b750576247c0c9b2be4528c/contact-bg.jpg'); background-size: cover; background-position: center center;"
  data-bottom-top="background-position:0px 400px;" data-top-bottom="background-position:0px -500px;">

  <div class="container clearfix">
    <h1>Schedule</h1>
    <span>We've arraged it for you.</span>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a href="#">Pages</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Schedule</li>
    </ol>
  </div>

</section>
<!-- #page-title end -->


<!-- Content
============================================= -->
<section id="content" style="margin-bottom: 0px;">

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="schedule">
        <div class="toggle toggle-bg">
          <div class="togglet">
            <i class="toggle-closed icon-calendar3"></i>
            <i class="toggle-open icon-remove-circle"></i>Monday</div>
          <div class="togglec clearfix">
            <div class="fancy-title title-border">
              <h4>AM</h4>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered text-center">
                <thead>
                  <tr>
                    <th>5:30 am - 6:30 am</th>
                    <th>6:30 am - 7:30 am</th>
                    <th>8:30 am - 9:30 am</th>
                    <th>9:30 am - 10:30 am</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a href="/crossfit">CrossFit</a></td>
                    <td><a href="/crossfit">CrossFit</a></td>
                    <td><a href="/crossfit">CrossFit</a></td>
                    <td><a href="/crossfit">CrossFit</a></td>
                  </tr>
                  <tr>
                    <td class="v-hidden"></td>
                    <td><a href="/fundamentals">Fundamentals</a></td>
                    <td class="v-hidden"></td>
                    <td class="v-hidden"></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="fancy-title title-border">
              <h4>PM</h4>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered text-center">
                <thead>
                  <tr>
                    <th>3:30 pm - 4:30 pm</th>
                    <th>4:30 pm - 5:30 pm</th>
                    <th>5:30 pm - 6:30 pm</th>
                    <th>6:30 pm - 7:30 pm</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a href="/crossfit">CrossFit</a></td>
                    <td><a href="/crossfit">CrossFit</a></td>
                    <td><a href="/crossfit">CrossFit</a></td>
                    <td><a href="/crossfit">CrossFit</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        
        <div class="toggle toggle-bg">
          <div class="togglet">
            <i class="toggle-closed icon-calendar3"></i>
            <i class="toggle-open icon-remove-circle"></i>Tuesday</div>
          <div class="togglec clearfix">
            <div class="fancy-title title-border">
              <h4>AM</h4>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered text-center">
                <thead>
                  <tr>
                    <th>5:30 am - 6:30 am</th>
                    <th>6:30 am - 7:30 am</th>
                    <th>9:30 am - 10:30 am</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a href="/crossfit">CrossFit</a></td>
                    <td><a href="/crossfit">CrossFit</a></td>
                    <td><a href="/crossfit">CrossFit</a></td>
                  </tr>
                  <tr>
                    <td class="v-hidden"></td>
                    <td><a href="/barbell-club">Barbell Club</a></td>
                    <td class="v-hidden"></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="fancy-title title-border">
              <h4>PM</h4>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered text-center">
                <thead>
                  <tr>
                    <th>4:30 pm - 5:30 pm</th>
                    <th>5:30 pm - 6:30 pm</th>
                    <th>6:30 pm - 7:30 pm</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a href="/crossfit">CrossFit</a></td>
                    <td><a href="/crossfit">CrossFit</a></td>
                    <td><a href="/crossfit">CrossFit</a></td>
                  </tr>
                  <tr>
                    <td class="v-hidden"></td>
                    <td><a href="/barbell-club">Barbell Club</a></td>
                    <td class="v-hidden"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        
        <div class="toggle toggle-bg">
          <div class="togglet">
            <i class="toggle-closed icon-calendar3"></i>
            <i class="toggle-open icon-remove-circle"></i>Wednesday</div>
          <div class="togglec clearfix">
            <div class="fancy-title title-border">
              <h4>AM</h4>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered text-center">
                <thead>
                  <tr>
                    <th>5:30 am - 6:30 am</th>
                    <th>6:30 am - 7:30 am</th>
                    <th>8:30 am - 9:30 am</th>
                    <th>9:30 am - 10:30 am</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a href="/crossfit">CrossFit</a></td>
                    <td><a href="/crossfit">CrossFit</a></td>
                    <td><a href="/crossfit">CrossFit</a></td>
                    <td><a href="/crossfit">CrossFit</a></td>
                  </tr>
                  <tr>
                    <td class="v-hidden"></td>
                    <td><a href="/fundamentals">Fundamentals</a></td>
                    <td class="v-hidden"></td>
                    <td class="v-hidden"></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="fancy-title title-border">
              <h4>PM</h4>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered text-center">
                <thead>
                  <tr>
                    <th>3:30 pm - 4:30 pm</th>
                    <th>4:30 pm - 5:30 pm</th>
                    <th>5:30 pm - 6:30 pm</th>
                    <th>6:30 pm - 7:30 pm</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a href="/crossfit">CrossFit</a></td>
                    <td><a href="/crossfit">CrossFit</a></td>
                    <td><a href="/crossfit">CrossFit</a></td>
                    <td><a href="/crossfit">CrossFit</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="toggle toggle-bg">
          <div class="togglet">
            <i class="toggle-closed icon-calendar3"></i>
            <i class="toggle-open icon-remove-circle"></i>Thursday</div>
          <div class="togglec clearfix">
            <div class="fancy-title title-border">
              <h4>AM</h4>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered text-center">
                <thead>
                  <tr>
                    <th>5:30 am - 6:30 am</th>
                    <th>6:30 am - 7:30 am</th>
                    <th>9:30 am - 10:30 am</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a href="/crossfit">CrossFit</a></td>
                    <td><a href="/crossfit">CrossFit</a></td>
                    <td><a href="/crossfit">CrossFit</a></td>
                  </tr>
                  <tr>
                    <td class="v-hidden"></td>
                    <td><a href="/barbell-club">Barbell Club</a></td>
                    <td class="v-hidden"></td>
                  </tr>
                  <tr>
                    <td class="v-hidden"></td>
                    <td><a href="/fundamentals">Fundamentals</a></td>
                    <td class="v-hidden"></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="fancy-title title-border">
              <h4>PM</h4>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered text-center">
                <thead>
                  <tr>
                    <th>4:30 pm - 5:30 pm</th>
                    <th>5:30 pm - 6:30 pm</th>
                    <th>6:30 pm - 7:30 pm</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a href="/crossfit">CrossFit</a></td>
                    <td><a href="/crossfit">CrossFit</a></td>
                    <td><a href="/crossfit">CrossFit</a></td>
                  </tr>
                  <tr>
                    <td class="v-hidden"></td>
                    <td><a href="/barbell-club">Barbell Club</a></td>
                    <td class="v-hidden"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="toggle toggle-bg">
          <div class="togglet">
            <i class="toggle-closed icon-calendar3"></i>
            <i class="toggle-open icon-remove-circle"></i>Friday</div>
          <div class="togglec clearfix">
            <div class="fancy-title title-border">
              <h4>AM</h4>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered text-center">
                <thead>
                  <tr>
                    <th>5:30 am - 6:30 am</th>
                    <th>6:30 am - 7:30 am</th>
                    <th>8:30 am - 9:30 am</th>
                    <th>9:30 am - 10:30 am</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a href="/crossfit">CrossFit</a></td>
                    <td><a href="/crossfit">CrossFit</a></td>
                    <td><a href="/crossfit">CrossFit</a></td>
                    <td><a href="/crossfit">CrossFit</a></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="fancy-title title-border">
              <h4>PM</h4>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered text-center">
                <thead>
                  <tr>
                    <th>3:30 pm - 4:30 pm</th>
                    <th>4:30 pm - 5:30 pm</th>
                    <th>5:30 pm - 6:30 pm</th>
                    <th>6:30 pm - 7:30 pm</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a href="/crossfit">CrossFit</a></td>
                    <td><a href="/crossfit">CrossFit</a></td>
                    <td><a href="/crossfit">CrossFit</a></td>
                    <td><a href="/crossfit">CrossFit</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="toggle toggle-bg">
          <div class="togglet">
            <i class="toggle-closed icon-calendar3"></i>
            <i class="toggle-open icon-remove-circle"></i>Saturday</div>
          <div class="togglec clearfix">
            <div class="fancy-title title-border">
              <h4>AM</h4>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered text-center">
                <thead>
                  <tr>
                    <th>8:00 am - 9:00 am</th>
                    <th>9:00 am - 10:00 am</th>
                    <th>10:00 am - 11:00 am</th>
                    <th>11:00 am - 12:30 pm</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a href="/crossfit">CrossFit<br><span class="badge badge-pill badge-success">Free to Community</span></a></td>
                    <td><a href="/family">Family Class<br><span class="badge badge-pill badge-success">Free to Community</span></a></td>
                    <td><a href="/crossfit">CrossFit<br><span class="badge badge-pill badge-success">Free to Community</span></a></td>
                    <td><a href="/barbell-club">Barbell Club</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="divider"><i class="icon-circle"></i></div>
            <p><span class="badge badge-pill badge-success">Free to Community</span> = Just show up. No charge. No obligation. It's a great time to try us out.</p>
          </div>
        </div>

        <div class="toggle toggle-bg">
          <div class="togglet">
            <i class="toggle-closed icon-calendar3"></i>
            <i class="toggle-open icon-remove-circle"></i>Sunday</div>
          <div class="togglec clearfix">
            <div class="fancy-title title-border">
              <h4>PM</h4>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered text-center">
                <thead>
                  <tr>
                    <th>2:00 pm - 4:00 pm</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a href="/open">Open Gym</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</section>
<!-- #content end -->

{% include section-contact.html %}

{% include section-contact-form.html %}
