    <footer id="footer" class="dark">

      <div class="container">

        <!-- Footer Widgets
				============================================= -->
        <div class="footer-widgets-wrap clearfix">

          <div class="col_two_second">

            <div class="col_one_third">

              <div class="widget clearfix">

                <div class="icon accretion-logo bottommargin-sm">
                  {% include icon-shield-logo.svg.html %}

                </div>

                <div>
                  <address>
                    <strong>Location:</strong>
                    <br> 7513 Sussex Dr.
                    <br> Florence, KY 41042
                  </address>
                  <abbr title="Phone Number">
                    <strong>Phone:</strong>
                  </abbr> 859.414.5904
                  <br>
                  <abbr title="Email Address">
                    <strong>Email:</strong>
                  </abbr> info@triumphstrength.net
                </div>

              </div>

            </div>

            <div class="col_one_third">

              <div class="widget widget_links clearfix">

                <h4>Links</h4>

                <ul>
                  <li>
                    <a href="/contact">Contact Us</a>
                  </li>
                  <li>
                    <a href="/refer-a-friend">Refer a Friend</a>
                  </li>
                  <li>
                    <a href="/tour">Tour our Facility</a>
                  </li>
                  <li>
                    <a href="https://teespring.com/stores/triumph-sc">Store</a>
                  </li>
                  <li>
                    <a href="/faq">FAQ</a>
                  </li>
                  <li>
                    <a href="/cancel">Membership Cancellation</a>
                  </li>
                  <li>
                    <a href="/hold-request">Membership Hold Request</a>
                  </li>
                </ul>

              </div>

            </div>

          </div>

          <div class="col_one_third col_last">

            <div class="widget subscribe-widget clearfix">
              <h5>
                <strong>Subscribe</strong> to Our Newsletter to get Important News, Amazing Offers &amp; Inside Scoops:</h5>
              <div class="widget-subscribe-form-result"></div>

               {% include component-form-newsletter-signup.html %}

            </div>

            <div class="widget clearfix" style="margin-bottom: -20px;">

              <div class="row">

                <div class="col-lg-6 clearfix bottommargin-sm">
                  <a href="//www.facebook.com/TriumphStrength" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;">
                    <i class="icon-facebook"></i>
                    <i class="icon-facebook"></i>
                  </a>
                  <a href="//www.facebook.com/TriumphStrength">
                    <small style="display: block; margin-top: 3px;">
                      <strong>Like us</strong>
                      <br>on Facebook</small>
                  </a>
                </div>
                <div class="col-lg-6 clearfix">
                  <a href="//www.instagram.com/triumphstrength/" class="social-icon instagram-grad nobottommargin" style="margin-right: 10px;">
                    <i class="icon-instagram"></i>
                    <i class="icon-instagram"></i>
                  </a>
                  <a href="//www.instagram.com/triumphstrength/">
                    <small style="display: block; margin-top: 3px;">
                      <strong>Follow</strong>
                      <br>us on Instagram</small>
                  </a>
                </div>
                <div class="col-lg-6 clearfix bottommargin-sm">
                  <a href="//www.youtube.com/channel/UCXaGidt4Bhfrb3vH_3B1TSQ" class="social-icon si-dark si-colored si-youtube nobottommargin" style="margin-right: 10px;">
                    <i class="icon-youtube"></i>
                    <i class="icon-youtube"></i>
                  </a>
                  <a href="//www.youtube.com/channel/UCXaGidt4Bhfrb3vH_3B1TSQ">
                    <small style="display: block; margin-top: 3px;">
                      <strong>Subscribe</strong>
                      <br>on YouTube</small>
                  </a>
                </div>
                <div class="col-lg-6 clearfix">
                  <a href="//www.yelp.com/biz/triumph-strength-and-conditioning-florence" class="social-icon si-dark si-colored si-yelp nobottommargin" style="margin-right: 10px;">
                    <i class="icon-yelp"></i>
                    <i class="icon-yelp"></i>
                  </a>
                  <a href="//www.yelp.com/biz/triumph-strength-and-conditioning-florence">
                    <small style="display: block; margin-top: 3px;">
                      <strong>Review</strong>
                      <br>us on Yelp</small>
                  </a>
                </div>

              </div>

            </div>

          </div>

        </div>
        <!-- .footer-widgets-wrap end -->

      </div>

      <!-- Copyrights
			============================================= -->
      <div id="copyrights">

        <div class="container clearfix">

          <div class="">
            Copyrights &copy; {{ "now" | date: "%Y" }} All Rights Reserved by Triumph Strength and Conditioning | CrossFit Accretion.
            <br>
            <div class="copyright-links">
              <a href="#">Terms of Use</a> /
              <a href="#">Privacy Policy</a>
            </div>
          </div>

          <!-- <div class="col_half col_last tright">
            <div class="fright clearfix">
              <a href="#" class="social-icon si-small si-borderless si-facebook">
                <i class="icon-facebook"></i>
                <i class="icon-facebook"></i>
              </a>

              <a href="#" class="social-icon si-small si-borderless si-twitter">
                <i class="icon-twitter"></i>
                <i class="icon-twitter"></i>
              </a>

              <a href="#" class="social-icon si-small si-borderless si-gplus">
                <i class="icon-gplus"></i>
                <i class="icon-gplus"></i>
              </a>

              <a href="#" class="social-icon si-small si-borderless si-pinterest">
                <i class="icon-pinterest"></i>
                <i class="icon-pinterest"></i>
              </a>

              <a href="#" class="social-icon si-small si-borderless si-vimeo">
                <i class="icon-vimeo"></i>
                <i class="icon-vimeo"></i>
              </a>

              <a href="#" class="social-icon si-small si-borderless si-github">
                <i class="icon-github"></i>
                <i class="icon-github"></i>
              </a>

              <a href="#" class="social-icon si-small si-borderless si-yahoo">
                <i class="icon-yahoo"></i>
                <i class="icon-yahoo"></i>
              </a>

              <a href="#" class="social-icon si-small si-borderless si-linkedin">
                <i class="icon-linkedin"></i>
                <i class="icon-linkedin"></i>
              </a>
            </div>
          </div> -->

        </div>

      </div>
      <!-- #copyrights end -->

    </footer>