<?xml version="1.0" encoding="UTF-8"?>
<svg width="502px" height="176px" viewBox="0 0 502 176" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
    <title>icon-crossfit-logo</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="icon-crossfit-logo" transform="translate(-5.000000, -28.000000)">
            <g id="CrossFit" fill="#444444" font-family="Impact" font-size="144" font-style="condensed" font-weight="700">
                <text>
                    <tspan x="0.860937595" y="145">CrossFit</tspan>
                </text>
            </g>
            <g id="Forging-Elite-Fitnes" transform="translate(6.000000, 138.000000)" fill="#444444" font-family="Impact" font-size="58.5" font-style="condensed" font-weight="700">
                <text id="Forging-Elite-Fitness">
                    <tspan x="0" y="59">Forging Elite Fitness</tspan>
                </text>
            </g>
            <g id="R" transform="translate(486.000000, 28.000000)" fill="#444444" font-family="OpenSans, Open Sans" font-size="22" font-weight="normal">
                <text>
                    <tspan x="0.700195" y="24">R</tspan>
                </text>
            </g>
            <circle id="Oval-1" stroke="#444444" stroke-width="2" cx="493.5" cy="44.5" r="12.5"></circle>
        </g>
    </g>
</svg>