      <div class="modal-on-load enable-cookie" data-target="#lead-gen" data-delay="0" data-animation-in="fadeInDown"></div>
      <!-- Modal -->
      <div class="modal1 mfp-hide subscribe-widget" id="lead-gen">
        <div class="block dark divcenter" style="background: url('images/promo-leadgen@2x.jpg') no-repeat; background-size: cover; max-width: 700px;"
          data-height-xl="400">
          <div style="padding: 50px;">
            <div class="heading-block nobottomborder bottommargin-sm" style="max-width:500px;">
              <h3 data-animate="tada" class="tada animated"><span class="color">FREE</span> 4 Week Meal Plan</h3>
              <span>Kick start the new you with 12 clean recipes.</span>
            </div>
            <div class="widget-subscribe-form-result"></div>
               {% include component-form-promo-lead.html %}
            <p class="nobottommargin">
              <small>
                <em>*We hate Spam &amp; Junk Emails.</em>
              </small>
            </p>
          </div>
        </div>
      </div>