<!-- Signup Modal -->
<div class="modal1 mfp-hide" id="modal-signup">
  <div class="block divcenter" style="background-color: #FFF; max-width: 700px;">
    <div class="row nomargin clearfix">
      <div class="col-md-6" data-height-xl="596" data-height-lg="596" data-height-md="526" data-height-sm="75" data-height-xs="75"
        style="background-image: url(/images/signup-bg.jpg); background-size: cover;"></div>
      <div class="col-md-6 col-padding scroll" data-height-xl="596" data-height-lg="596" data-height-md="526" data-height-sm="526" data-height-xs="526">
        <div>
          <h4 class="uppercase ls1 nomargin">Tell us about yourself</h4>
          <p style=" margin-bottom: 10px;"><small class="t300">Complete the form below and we'll contact you regarding your membership.</small></p>
          
          {% include component-form-signup.html %}

        </div>
      </div>
    </div>
  </div>
</div>