<ul class="noborder">
    <li class="current"><a href="/about"><div>About</div></a>
        <ul>
            <li><a href="/coaches"><div>Meet the Coaches</div></a></li>
            <li><a href="/tour"><div>Tour the Facility</div></a></li>
            <li><a href="https://teespring.com/stores/triumph-sc"><div>Shop the Store</div></a></li>
            <li><a href="/contact"><div>Map and Directions</div></a></li>
        </ul>
    </li>
    <li class=""><a href="/programs"><div>Programs</div></a>
        <ul>
            <li><a href="/fundamentals"><div>Fundamentals</div></a></li>
            <li><a href="/crossfit"><div>CrossFit</div></a></li>
            <li><a href="/tour"><div>Barbell Club</div></a></li>
            <li><a href="/spartansgx"><div>Spartan SGX</div></a></li>
            <li><a href="/family"><div>Family Class</div></a></li>
            <li><a href="/open"><div>Open Gym</div></a></li>
        </ul>
    </li>
    <li class=""><a href="/schedule"><div>Schedule</div></a>
    </li>
    <li class=""><a href="/stories"><div>Success Stories</div></a>
    </li>
    <li class=""><a href="/blog"><div>Blog</div></a>
        <ul>
            <li><a href="/blog"><div>View All</div></a></li>
            <li><a href="/blog/featured-athlete"><div>Featured Athlete</div></a></li>
            <li><a href="/blog/coaches-corner"><div>Coaches Corner</div></a></li>
            <li><a href="/blog/gym-news"><div>Gym News</div></a></li>
            <li><a href="/blog/wod"><div>Workout of the Day</div></a></li>
            <li><a href="/blog/nutrition"><div>Nutrition</div></a></li>
        </ul>
    </li>
    <li class=""><a href="/get-started"><div>Get Started</div></a>
    </li>
</ul>