<div class="container clearfix">

    <div class="heading-block mt-5 center">
        <span class="before-heading color">Florence Kentucky's priemere training</span>
        <h1>BARBELL & CROSSFIT</h1>
        <span>Inspire and build healthy people through fitness,<br>knowledge and community.</span>
    </div>

    <div class="center bottommargin">
        <div class="about-icons my-4">
            <span class="icon icon-xxxlarge mr-5">{% include icon-barbells.svg.html %}</span>
            <span class="icon">{% include icon-dot.svg.html %}</span>
            <span class="icon icon-xxxlarge ml-5">{% include icon-kettlebell.svg.html %}</span>
        </div>
        
        <p>
            Triumph Strength and Conditioning - Home of CrossFit Accretion holds our tight-knit community above everything else. Sure
            you'll find Florence's most highly trained coaches under this roof, but you'll also find our members going out of their way
            to welcome and support new clients and each other. We pride ourselves on making our box a clean place where you can obtain
            the guidance you need to begin changing your life forever. Our functional and intense workouts are unmatched, and when paired
            with a solid nutritional foundation, you have the perfect combination for a healthier you. Our classes encourage the camaraderie
            that we're known for, which in turn drives the amazing results you'll soon experience. Find out what it means to Carry The
            Shield and join this amazing community today.
        </p>

        <a href="#modal-signup" data-lightbox="inline" class="button button-3d button-teal button-large nobottommargin d-none d-md-inline-block"
            style="margin: 30px 0 0 10px;">Get a FREE Session</a>
    </div>

</div>