				<div class="section parallax full-screen dark nomargin noborder img-responsive" style="background-image: url('images/map-bg.jpg');" data-bottom-top="background-position:0px 50px;" data-top-bottom="background-position:0px -50px;">
					<div class="vertical-middle">
						<div class="container clearfix">


              <div class="heading-block mt-5 center">
                <span class="before-heading color">You can find us</span>
                <h1>WE'RE CLOSE BY</h1>
              </div>

							<div class="row">

                <div class="col_half pricing-box pricing-extended bottommargin clearfix divcenter">
                <div class="p-5 center">
                    <p>We've got all the room you ever dreamed of. Our 7,000-square-foot facility has the resources you need to push yourself to
                    new limits. Our classes are engaging, challenging, effective, and fun! Our WODs will get your heart pumping and soon your
                    energy levels will soar!</p>
                    <p><strong>7513 Sussex Dr Florence, KY 41042</strong></p>
                    <a href="#" class="button button-border button-light button-rounded button-large noleftmargin nobottommargin d-none d-md-inline-block">Map it</a>
                    <a href="#" class="button button-3d button-teal button-large nobottommargin d-none d-md-inline-block fadeInUp animated">Virtual tour</a>
                </div>
                </div>

							</div>

						</div>
					</div>
				</div>