		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<div class="fancy-title title-dotted-border title-center">
						<h3>Personal Training</h3>
					</div>

					<div class="row pricing bottommargin clearfix">

						<div class="col-md-3">

							<!-- <div class="pricing-box">
								<div class="pricing-title">
									<h3>ONE SESSION</h3>
								</div>
								<div class="pricing-price">
									<span class="price-unit">&dollar;</span>60<span class="price-tenure">/session</span>
								</div>
								<div class="pricing-features p-3">
                  <ul>
                    <li>One on one, personalized programming built on your needs</li>
                    <li>Work closely with our skilled staff to ensure the best possible results</li>
                    <li>Lose weight, recover from an injury or work towards a fitness goal</li>
                    <li>Accountability and encouragement for each and every session</li>
										<li>Get into a routine that will change your life for the better</li>
										<li>Learn proper form and technique on high skilled movements</li>
                    <li>and much more!</li>
                  </ul>
								</div>
								<div class="pricing-action">
									<a href="/get-started" class="btn btn-default btn-block btn-lg">Sign Up</a>
								</div>
							</div> -->

						</div>

						<div class="col-md-6">

							<div class="pricing-box best-price">
								<div class="pricing-title">
									<h3>ONE SESSION</h3>
								</div>
								<div class="pricing-price">
									<span class="price-unit">&dollar;</span>60<span class="price-tenure">/session</span>
								</div>
								<div class="pricing-features p-3">
									<ul>
										<li>One on one, personalized programming built on your needs</li>
										<li>Work closely with our skilled staff to ensure the best possible results</li>
										<li>Lose weight, recover from an injury or work towards a fitness goal</li>
										<li>Accountability and encouragement for each and every session</li>
										<li>Get into a routine that will change your life for the better</li>
										<li>Learn proper form and technique on high skilled movements</li>
										<li>and much more!</li>
									</ul>
								</div>
								<div class="pricing-action">
									<a href="/get-started" class="btn btn-default btn-block btn-lg">Sign Up</a>
								</div>
							</div>

						</div>

						<div class="col-md-3">

							<!-- <div class="pricing-box">
								<div class="pricing-title">
									<h3>FIVE SESSIONS</h3>
								</div>
								<div class="pricing-price">
									<span class="price-unit">&dollar;</span>50<span class="price-tenure">/session</span>
								</div>
								<div class="pricing-features p-3">
                  <ul>
                    <li>One on one, personalized programming built on your needs</li>
                    <li>Work closely with our skilled staff to ensure the best possible results</li>
                    <li>Lose weight, recover from an injury or work towards a fitness goal</li>
                    <li>Accountability and encouragement for each and every session</li>
										<li>Get into a routine that will change your life for the better</li>
										<li>Learn proper form and technique on high skilled movements</li>
                    <li>and much more!</li>
                  </ul>
								</div>
								<div class="pricing-action">
									<a href="/get-started" class="btn btn-default btn-block btn-lg">Sign Up</a>
								</div>

							</div> -->

						</div>



					</div>

				</div>

			</div>

		</section><!-- #content end -->