<section class="section-programs pb-0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 p-0">
        <a href="#">
          <div class="program-left">
            <img src="images/program-barbell-logo.svg" class="program-img vertical-center img-fluid">
          </div>
        </a>
      </div>
      <div class="col-md-6 p-0">
        <a href="#">
          <div class="program-right">
            <img src="images/program-sgx-logo.svg" class="program-img vertical-center img-fluid">
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
