<!-- Content
		============================================= -->
<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">
      <div class="fancy-title title-dotted-border title-center">
        <h3>Group Fitness Classes</h3>
      </div>

      <div class="row pricing bottommargin clearfix">
        <div class="col-md-4">
          <div class="pricing-box">
            <div class="pricing-title">
              <h3>Limited&ast;</h3>
            </div>
            <div class="pricing-price">
              <span class="price-unit">&dollar;</span>116<span
                class="price-tenure"
                >/mo</span
              >
            </div>
            <div class="pricing-features">
              <ul>
                <li>60 Minute CrossFit Classes</li>
                <li>Members Only Social Events</li>
                <li>and much more!</li>
              </ul>
            </div>
            <div class="pricing-action">
              <a href="/get-started" class="btn btn-default btn-block btn-lg"
                >Sign Up</a
              >
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="pricing-box best-price">
            <div class="pricing-title">
              <h3>Unlimited</h3>
              <span>Most Popular</span>
            </div>
            <div class="pricing-price">
              <span class="price-unit">&dollar;</span>155<span
                class="price-tenure"
                >/mo</span
              >
            </div>
            <div class="pricing-features">
              <ul>
                <li>Nutritional and Fitness <strong>Seminars</strong></li>
                <li>
                  <strong>Unlimited Access</strong> to All Group Classes and
                  Equipment
                </li>
                <li>
                  Complimentary <strong>Personal Training</strong> Session
                </li>
                <li>One 30 Minute <strong>Nutritional Consultation</strong></li>
                <li><strong>Unlimited</strong> CrossFit Classes</li>
                <li>Nutritional Guidance & Support</li>
                <li>Members Only <strong>Social Events</strong></li>
                <li>and much more!</li>
              </ul>
            </div>
            <div class="pricing-action">
              <a
                href="/get-started"
                class="btn btn-danger btn-block btn-lg bgcolor border-color"
                >Sign Up</a
              >
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="pricing-box">
            <div class="pricing-title">
              <h3>10 CLASSES</h3>
            </div>
            <div class="pricing-price">
              <span class="price-unit">&dollar;</span>150<span
                class="price-tenure"
                >punchcard</span
              >
            </div>
            <div class="pricing-features">
              <ul>
                <li>No Contracts Required</li>
                <li>Come on your own schedule</li>
                <li>Members Only Social Events</li>
                <li>and much more!</li>
              </ul>
            </div>
            <div class="pricing-action">
              <a href="/get-started" class="btn btn-default btn-block btn-lg"
                >Sign Up</a
              >
            </div>
          </div>
        </div>
      </div>

      {% include section-pricing-3-3.html %}
    </div>
  </div>
</section>
<!-- #content end -->
