            <div class="section dark" id="about">
              <div class="container clearfix">
                <div class="heading-block mt-5 center">
                  <span class="before-heading color">Get to know us</span>
                  <h1>Who we are</h1>
                </div>

                <div class="divcenter topmargin-lg" style="max-width: 800px;">
                <div class="fluid-width-video-wrapper" style="padding-top: 56.25%;">
                  <iframe src="https://www.youtube.com/embed/o21d79QFVCQ" frameborder="0" allowfullscreen="" id="fitvid0"></iframe></div>
                  <p class="small muted text-center" style="margin-top: 10px; color: #999;"><em>(Turn On Volume and switch to Full Screen for Best Experience)</em></p>
                </div>

                <div class="center">
                  <a href="#modal-signup" data-lightbox="inline" class="button button-3d button-teal button-large nobottommargin d-none d-md-inline-block"
                    style="margin: 30px 0 0 10px;">Get a FREE Session</a>
                </div>


                <!-- <div class="row clearfix common-height">
                  <div class="col_one_third">
                    <div class="feature-box center media-box fbox-bg">
                      <h3 class="color mb-3">Constantly Varied</h3>
                      <div class="fbox-media">
                        <div class="youtube-player yt-16x9 black-box" data-id="fO0bkVC6INA"></div>
                      </div>
                    </div>
                  </div>
                  <div class="col_one_third">
                    <div class="feature-box center media-box fbox-bg">
                      <h3 class="color mb-3">Functional Movements</h3>
                      <div class="fbox-media">
                        <div class="youtube-player yt-16x9 black-box" data-id="aAaKk1ADccs"></div>
                      </div>
                    </div>
                  </div>
                  <div class="col_one_third col_last">
                    <div class="feature-box center media-box fbox-bg">
                      <h3 class="color mb-3">High Intensity</h3>
                      <div class="fbox-media">
                        <div class="youtube-player yt-16x9 black-box" data-id="meH9roHylwE"></div>
                      </div>
                    </div>
                  </div>
                </div> -->

              </div>
            </div>