<div class="section parallax nomargin notopborder dark img-responsive" style="background-image: url('images/contact-bg.jpg');" data-bottom-top="background-position:0px 50px;" data-top-bottom="background-position:0px -50px;">
  <div class="container clearfix">

    <div class="heading-block mt-5 center">
      <span class="before-heading color">We'd love to hear from you</span>
      <h1>Let's Talk</h1>
    </div>

  <div class="row clear-bottommargin">
  
    <div class="col-lg-3 col-md-6 bottommargin clearfix">
      <a href="https://goo.gl/maps/iokMufT6BRo" target="_blank">
        <div class="feature-box fbox-center fbox-bg fbox-plain">
          <div class="fbox-icon">
            <i class="icon-map-marker2"></i>
          </div>
          <h3>Location
            <span class="subtitle">7513 Sussex Dr. Florence, KY 41042</span>
          </h3>
        </div>
      </a>
    </div>
  
    <div class="col-lg-3 col-md-6 bottommargin clearfix">
      <a href="tel:8594145904">
        <div class="feature-box fbox-center fbox-bg fbox-plain">
          <div class="fbox-icon">
            <i class="icon-phone3"></i>
          </div>
          <h3>Give Us a Call
            <span class="subtitle">(859) 414-5904<br><br></span>
          </h3>
        </div>
      </a>
    </div>
  
    <div class="col-lg-3 col-md-6 bottommargin clearfix">
      <a href="/contact">
        <div class="feature-box fbox-center fbox-bg fbox-plain">
          <div class="fbox-icon">
            <i class="icon-email"></i>
          </div>
          <h3>Send an Email
            <span class="subtitle">info@triumphstrength.com<br><br></span>
          </h3>
        </div>
      </a>
    </div>
  
    <div class="col-lg-3 col-md-6 bottommargin clearfix">
      <a href="https://www.facebook.com/TriumphStrength/">
        <div class="feature-box fbox-center fbox-bg fbox-plain">
          <div class="fbox-icon">
            <i class="icon-facebook"></i>
          </div>
          <h3>Message Us
            <span class="subtitle">On Facebook Messenger<br></span>
          </h3>
        </div>
      </a>
    </div>
  
  </div>
  <!-- Contact Info End -->

  </div>
</div>