<div class="fancy-title title-dotted-border title-center">
    <h3>Group Fitness + Barbell</h3>
</div>

<div class="pricing-box pricing-extended bottommargin clearfix">
    <div class="pricing-desc">
        <div class="pricing-title">
            <h3>3 DAY GROUP FITNESS & 3 DAY BARBELL</h3>
        </div>
        <div class="pricing-features">
            <ul class="clearfix">
                <li>Complimentary Personal Training Session</li>
                <li>One 30 Minute Nutritional Consultation</li>
                <li>60 Minute CrossFit Classes</li>
                <li>Nutritional Guidance & Support</li>
                <li>Members Only Social Events</li>
                <li>and much more!</li>
            </ul>
        </div>
    </div>
    <div class="pricing-action-area">
        <div class="pricing-price">
            <span class="price-unit">&dollar;</span>175<span
                class="price-tenure"
                >/month</span
            >
        </div>
        <div class="pricing-action">
            <a
                href="/get-started"
                class="button button-3d button-xlarge btn-block nomargin"
                >Get Started</a
            >
        </div>
    </div>
</div>
