  <section id="slider" class="slider-element force-full-screen full-screen">
  
    <div class="force-full-screen full-screen dark section nopadding nomargin noborder ohidden">
  
      <div class="container clearfix">
        <div class="slider-caption slider-caption-center">
          <h2 data-animate="fadeInUp">WE'RE CLOSE BY</h2>
          <p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="200">
            We've got all the room you ever dreamed of. Our 7,000-square-foot facility has the resources you need to push yourself to
            new limits. Our classes are engaging, challenging, effective, and fun! Our WODs will get your heart pumping and soon your
            energy levels will soar!</p>
          <a href="https://goo.gl/maps/ZUvWpiMHUNB2" target="_blank" data-animate="fadeInUp" data-delay="400" class="button button-border button-light button-rounded button-large noleftmargin nobottommargin d-none d-md-inline-block"
            style="margin-top: 30px;">Map it</a>
          <a href="/tour" data-animate="fadeInUp" data-delay="600" class="button button-3d button-teal button-large nobottommargin d-none d-md-inline-block"
            style="margin: 30px 0 0 10px;">Virtual tour</a>
        </div>
      </div>
      <div class="video-wrap">
        <video poster="images/map-bg.jpg" preload="auto" loop autoplay muted>
          <!-- <source src='images/videos/tsc-homepage-bg.mp4' type='video/mp4' />
          <source src='images/videos/tsc-homepage-bg.webm' type='video/webm' /> -->
        </video>
        <div class="video-overlay" style="background-color: rgba(0,0,0,0.45);"></div>
      </div>
  
    </div>
    
    <!-- Modal -->
    <div class="modal1 mfp-hide" id="myModal1">
      <div class="block divcenter" style="background-color: #FFF; max-width: 660px;">
        <div class="center clearfix" style="padding: 50px;">
          <div class="youtube-player yt-16x9 black-box" data-id="nXFWEPxfRqU"></div>
        </div>
      </div>
    </div>

  </section>