            <div class="section dark">
              <div class="container clearfix">
                <div class="heading-block mt-5 center">
                  <span class="icon icon-xxxlarge crossfit-logo mb-3">{% include icon-crossfit-logo.svg.html %}</span>
                  <h1>What is CrossFit?</h1>
                </div>
                <div class="row clearfix common-height">
                  <div class="col_one_third">
                    <div class="feature-box center media-box fbox-bg">
                      <h3 class="color mb-3">Constantly Varied</h3>
                      <div class="fbox-media">
                        <div class="youtube-player yt-16x9 black-box" data-id="fO0bkVC6INA"></div>
                      </div>
                    </div>
                  </div>
                  <div class="col_one_third">
                    <div class="feature-box center media-box fbox-bg">
                      <h3 class="color mb-3">Functional Movements</h3>
                      <div class="fbox-media">
                        <div class="youtube-player yt-16x9 black-box" data-id="aAaKk1ADccs"></div>
                      </div>
                    </div>
                  </div>
                  <div class="col_one_third col_last">
                    <div class="feature-box center media-box fbox-bg">
                      <h3 class="color mb-3">High Intensity</h3>
                      <div class="fbox-media">
                        <div class="youtube-player yt-16x9 black-box" data-id="meH9roHylwE"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>