		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<div class="fancy-title title-dotted-border title-center">
						<h3>Barbell Club</h3>
					</div>

					<div class="row pricing bottommargin clearfix">

						<div class="col-md-4">

							<div class="pricing-box">
								<div class="pricing-title">
									<h3>3-DAY WEEK</h3>
								</div>
								<div class="pricing-price">
									<span class="price-unit">&dollar;</span>75<span class="price-tenure">/mo</span>
								</div>
								<div class="pricing-features">
									<ul>
										<li>Perfect for your part time weightlifter</li>
										<li>Use it as a supplement to a regular program or as a stand-alone</li>
										<li>Programming provided will build strength and technique through various lifts and accessories</li>
										<li>Masters weightlifting programs available as well</li>
										<li>Access to our fully stocked weightlifting facility and additional equipment </li>
                    <li>and much more!</li>
									</ul>
								</div>
								<div class="pricing-action">
									<a href="/get-started" class="btn btn-default btn-block btn-lg">Sign Up</a>
								</div>
							</div>

						</div>

						<div class="col-md-4">

							<div class="pricing-box best-price">
								<div class="pricing-title">
									<h3>5-DAY-WEEK</h3>
									<span>Most Popular</span>
								</div>
								<div class="pricing-price">
									<span class="price-unit">&dollar;</span>100<span class="price-tenure">/mo</span>
								</div>
								<div class="pricing-features">
									<ul>
										<li>For those who are interested in the sport of weightlifting </li>
										<li>This stand alone program gives you everything you need to get ready to compete at a local or national level</li>
										<li>Programming provided will build strength and technique through various lifts and accessories</li>
										<li>Masters weightlifting programs available as well</li>
										<li>Unlimited access to our fully stocked weightlifting facility and additional equipment</li>
                    <li>and much more!</li>
									</ul>
								</div>
								<div class="pricing-action">
									<a href="/get-started" class="btn btn-danger btn-block btn-lg bgcolor border-color">Sign Up</a>
								</div>
							</div>

						</div>

						<div class="col-md-4">

							<div class="pricing-box">
								<div class="pricing-title">
									<h3>10 CLASSES</h3>
								</div>
								<div class="pricing-price">
									<span class="price-unit">&dollar;</span>150<span class="price-tenure">punchcard</span>
								</div>
								<div class="pricing-features">
                  <ul>
                    <li>Come in at your own convenience </li>
                    <li>Programming provided will build strength and technique through various lifts and accessories</li>
                    <li>Masters weightlifting programs available as well</li>
                    <li>Access to our fully stocked weightlifting facility and additional equipment</li>
                    <li>and much more!</li>
                  </ul>
								</div>
								<div class="pricing-action">
									<a href="/get-started" class="btn btn-default btn-block btn-lg">Sign Up</a>
								</div>
							</div>

						</div>

					</div>


					{% include section-pricing-3-3.html %}


				</div>

			</div>

		</section><!-- #content end -->