		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<div class="fancy-title title-dotted-border title-center">
						<h3>Massage Services</h3>
					</div>
					
					<div class="pricing-box pricing-extended bottommargin clearfix">
						<div class="pricing-desc">
							<div class="pricing-title">
								<h3>60 Minute Personalized Massage</h3>
							</div>
							<div class="pricing-features">
								<ul class="clearfix">
									<li><span class="badge badge-info">Triumph Members get $10 discount</span></li>
									<li>Personalized for your needs</li>
									<li>Recover from injury</li>
									<!-- <li>60 Minute CrossFit Classes</li>
									<li>Nutritional Guidance & Support</li>
									<li>Members Only Social Events</li>
									<li>and much more!</li> -->
								</ul>
							</div>
						</div>
						<div class="pricing-action-area">
					
							<div class="pricing-price">
								<span class="price-unit">&dollar;</span>60<span class="price-tenure">/hour</span>
							</div>
							<div class="pricing-action">
								<a href="/get-started" class="button button-3d button-xlarge btn-block nomargin">Get Started</a>
							</div>
						</div>
					</div>


				</div>

			</div>

		</section><!-- #content end -->