				<div class="section nomargin footer-stick">

					<h4 class="uppercase center">What <span>Members</span> say?</h4>

					<div class="fslider testimonial testimonial-full bottommargin" data-animation="fade" data-arrows="false">
						<div class="flexslider">
							<div class="slider-wrap">
								<div class="slide">
									<div class="testi-image">
										<a href="#"><img src="images/testimonials/heathergoldsberry.jpg" alt="Customer Testimonails"></a>
									</div>
									<div class="testi-content">
										<p>
                      I LOVE this place ... A LOT. Other than the community vibe and helping make me a better person, my favorite thing about Triumph
                      is the coaches ... no really. It is. It is amazing to watch each of the coaches work out, sometimes multiple times a day.
                    </p>
										<div class="testi-meta">
                      Heather Goldsberry
											<span>5 year member</span>
										</div>
									</div>
								</div>
								<div class="slide">
									<div class="testi-image">
										<a href="#"><img src="images/testimonials/crystalwarner.jpg" alt="Customer Testimonails"></a>
									</div>
									<div class="testi-content">
										<p>
                      That day I walked into Triumph has changed my life in more ways than I could’ve imagined in such a short period of time.
                      CrossFit has given me so much more than fitness. I always have a sense of accomplishment after class, and I carry that with
                      me throughout the day.                    
                    </p>
										<div class="testi-meta">
                       Crystal Warner
											<span>Most beloved member ever</span>
										</div>
									</div>
								</div>
								<div class="slide">
									<div class="testi-image">
										<a href="#"><img src="images/testimonials/jeffryan.jpg" alt="Customer Testimonails"></a>
									</div>
									<div class="testi-content">
										<p>
                      I’ve lost weight, which is something I have wanted to do for years. I’m stronger in numerous ways than I was when I first
                      showed up. I eat much better thanks to Keith’s suggestions. I’m not gasping for air during the warmups anymore either.
                    </p>
										<div class="testi-meta">
											Jeff Ryan
											<span>Barbell Club Advocate</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>