<div class="container-fluid bottommargin clearfix">

    <div class="heading-block mt-5 center">
        <span class="before-heading color">Follow us with hashtag</span>
        <h1 class="text-lowercase">#triumphsc</h1>      
    </div>

    <div class="widget instagram-widget clearfix">
        <div id="instagram-photos" class="instagram-photos masonry-thumbs grid-6"
            data-type="user"
            data-user="741157"
            data-count="6" 
            data-resolution="low_resolution">
            <!--565984005-->
        </div>
    </div>

</div>