<div class="container clearfix">

    <div class="heading-block mt-5 center">
        <span class="before-heading color">What if you can do it?</span>
        <h1>HOW IT WORKS</h1>
    </div>

    <div id="processTabs">
      <ul class="process-steps process-3 bottommargin clearfix">
        <li>
          <a href="#modal-signup" data-lightbox="inline" class="i-circled i-bordered i-alt divcenter">1</a>
          <h5>Schedule First Class</h5>
        </li>
        <li>
          <a href="#modal-signup" data-lightbox="inline" class="i-circled i-bordered i-alt divcenter">2</a>
          <h5>Two Weeks of Fundamentals</h5>
        </li>
        <li>
          <a href="#modal-signup" data-lightbox="inline" class="i-circled i-bordered i-alt divcenter">3</a>
          <h5>Attend Class</h5>
        </li>
      </ul>
    </div>

    <div class="divcenter bottommargin" style="max-width: 840px">
      <div class="youtube-player yt-16x9 black-box" data-id="pf4bkZUv-z0"></div>
    </div>

</div>