<div class="container bottommargin clearfix">



  <div class="widget instagram-widget clearfix">
    <div id="instagram-photos" class="instagram-photos masonry-thumbs grid-6" data-type="user" data-user="565984005"
      data-count="12" data-resolution="thumbnail">
      <!--565984005-->
    </div>
  </div>

</div>


<div class="container clear-bottommargin clearfix">
  <div class="heading-block mt-5 center">
    <span class="before-heading color">You get more than you think</span>
    <h1 class="">All The Benefits</h1>
    <span>Your membership includes all of these... not only a healthier and happier life.</span>
  </div>

  <div class="row">

    <div class="col-lg-4 col-md-6 topmargin bottommargin">

      <div class="col_full">
        <div class="feature-box fbox-plain fbox-small fbox-dark">
          <div class="fbox-icon">
            <a href="#"><i class="icon-line-star"></i></a>
          </div>
          <h3>Unlimited CrossFit with Coach</h3>
          <p>Come as much as you wish and always have the guidance of a coach there for you.</p>
        </div>
      </div>
      <div class="col_full ">
        <div class="feature-box fbox-plain fbox-small fbox-dark">
          <div class="fbox-icon">
            <a href="#"><i class="icon-line-star"></i></a>
          </div>
          <h3>60 minute 1 on 1 Fundamentals</h3>
          <p>Up to four fundamental sessions with a coach to help you learn the basics to getting started.</p>
        </div>
      </div>
      <div class="col_full">
        <div class="feature-box fbox-plain fbox-small fbox-dark">
          <div class="fbox-icon">
            <a href="#"><i class="icon-line-star"></i></a>
          </div>
          <h3>Unlimited gym access &amp; showers</h3>
          <p>You have full access to the entire gym and we actually have showers, unlike other boxes.</p>
        </div>
      </div>
      <div class="col_full bottommargin">
        <div class="feature-box fbox-plain fbox-small fbox-dark">
          <div class="fbox-icon">
            <a href="#"><i class="icon-line-star"></i></a>
          </div>
          <h3>Free Bumper Sticker</h3>
          <p>Once you graduate fundamentals class, mark the moment by proudly slapping a sweet Triumph sticker on your car.</p>
        </div>
      </div>
      <div class="col_full nobottommargin">
        <div class="feature-box fbox-plain fbox-small fbox-dark">
          <div class="fbox-icon">
            <a href="#"><i class="icon-line-star"></i></a>
          </div>
          <h3>Accountability</h3>
          <p>Getting in shape is hard and even harder in isolation. Coaches and the community will help you reach your goals.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 topmargin bottommargin">
      <div class="col_full">
        <div class="feature-box fbox-plain fbox-small fbox-dark">
          <div class="fbox-icon">
            <a href="#"><i class="icon-line-star"></i></a>
          </div>
          <h3>Social Events</h3>
          <p>We don't only work out together, we hang out together and you're invited. #bingo</p>
        </div>
      </div>
      <div class="col_full">
        <div class="feature-box fbox-plain fbox-small fbox-dark">
          <div class="fbox-icon">
            <a href="#"><i class="icon-line-star"></i></a>
          </div>
          <h3>Free Wifi</h3>
          <p>Keep your data plan in check and enjoy fast wifi while hanging out in the gym.</p>
        </div>
      </div>
      <div class="col_full ">
        <div class="feature-box fbox-plain fbox-small fbox-dark">
          <div class="fbox-icon">
            <a href="#"><i class="icon-line-star"></i></a>
          </div>
          <h3>5 guest passes</h3>
          <p>Don't go it alone. Bring a friend for free to any class. They will be forever thankful.</p>
        </div>
      </div>
      <div class="col_full ">
        <div class="feature-box fbox-plain fbox-small fbox-dark">
          <div class="fbox-icon">
            <a href="#"><i class="icon-line-star"></i></a>
          </div>
          <h3>Unlimited Coach Access</h3>
          <p>It's our mission to help you and that means being there for you, no matter what or when.</p>
        </div>
      </div>
      <div class="col_full ">
        <div class="feature-box fbox-plain fbox-small fbox-dark">
          <div class="fbox-icon">
            <a href="#"><i class="icon-line-star"></i></a>
          </div>
          <h3>Programmed workouts</h3>
          <p>Each day is different, thoughtful, and masterly crafted to optimize your fitness and health.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 topmargin bottommargin">

      <div class="col_full">
        <div class="feature-box fbox-plain fbox-small fbox-dark">
          <div class="fbox-icon">
            <a href="#"><i class="icon-line-star"></i></a>
          </div>
          <h3>Rom Wod</h3>
          <p>At your convinence, watch guided stretching and mobilty routines by Rom Wod.</p>
        </div>
      </div>
      <div class="col_full ">
        <div class="feature-box fbox-plain fbox-small fbox-dark">
          <div class="fbox-icon">
            <a href="#"><i class="icon-line-star"></i></a>
          </div>
          <h3>Free Towel</h3>
          <p>After your 60 day anniversary, you get a free Triumph gym towel. You're going to need it.</p>
        </div>
      </div>
      <div class="col_full ">
        <div class="feature-box fbox-plain fbox-small fbox-dark">
          <div class="fbox-icon">
            <a href="#"><i class="icon-line-star"></i></a>
          </div>
          <h3>Free T-shirt</h3>
          <p>After your 90 day anniversary, pick out your choice of t-shirts from our swag collection.</p>
        </div>
      </div>
      <div class="col_full nobottommargin">
        <div class="feature-box fbox-plain fbox-small fbox-dark">
          <div class="fbox-icon">
            <a href="#"><i class="icon-line-star"></i></a>
          </div>
          <h3>15 min workouts videos</h3>
          <p>Can't make it to the gym, we got you covered. We include a 15 minute daily workout you can do from anywhere.</p>
        </div>
      </div>
    </div>
  </div>

</div>