<div class="section dark">
    <div class="container clearfix">

        <div class="heading-block mt-5 center">
            <span class="before-heading color">It's quarantine fitness time</span>
            <h1>Workout At Home</h1>
            <span>With COVID-19 keeping us socially distant and confined to our homes, we're finding ways to stay fit and healthy.</span>
        </div>

        <div class="center bottommargin">

            <div class="divcenter" style="max-width: 800px;">
                <div class="fluid-width-video-wrapper" style="padding-top: 56.25%;">
                    <iframe src="https://www.youtube.com/embed/9I6SzQypoCY" frameborder="0" allowfullscreen="" id="fitvid0"></iframe>
                    <p class="small muted text-center" style="margin-top: 10px; color: #999;"><em>(Turn On Volume and switch to Full Screen for Best Experience)</em></p>
                </div>
            </div>
            
            <p>
                Start a custom at-home training program today. We are all doing our best to make the most of these uncertain times. We're here for you and want to support your fitness and health goals. Our entire community is getting creative and it's actually working. It may even be the best time to get involved. We'd love for you to join us in our online workouts, personal coaching, and community support. 
                Will you join us?
            </p>

            <a href="/workout-at-home" class="button button-border button-light button-rounded button-large noleftmargin nobottommargin d-none d-md-inline-block"
                            style="margin: 30px 0 0 10px;">Learn More</a>
            <a href="https://triumphstrengthandconditioning.uplaunch.com/client_booking_forms/2963" class="button button-3d button-teal button-large nobottommargin d-none d-md-inline-block"
                style="margin: 30px 0 0 10px;">Book a Free Intro</a>

        </div>
        
    </div>
</div>