		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<div class="fancy-title title-dotted-border title-center">
						<h3>Personal Training</h3>
					</div>

					<div class="row pricing bottommargin clearfix">

						<div class="col-md-4">

							<div class="pricing-box">
								<div class="pricing-title">
									<h3>ONE SESSION</h3>
								</div>
								<div class="pricing-price">
									<span class="price-unit">&dollar;</span>60<span class="price-tenure">/session</span>
								</div>
								<div class="pricing-features">
									<!-- <ul>
										<li>Complimentary Personal Training Session</li>
										<li>One 30 Minute Nutritional Consultation</li>
										<li>60 Minute Barbell Class</li>
										<li>Nutritional Guidance & Support</li>
										<li>Members Only Social Events</li>
                    <li>and much more!</li>
									</ul> -->
								</div>
								<div class="pricing-action">
									<a href="/get-started" class="btn btn-default btn-block btn-lg">Sign Up</a>
								</div>
							</div>

						</div>

						<div class="col-md-4">

							<div class="pricing-box best-price">
								<div class="pricing-title">
									<h3>FIVE SESSIONS</h3>
									<span>Most Popular</span>
								</div>
								<div class="pricing-price">
									<span class="price-unit">&dollar;</span>50<span class="price-tenure">/session</span>
								</div>
								<div class="pricing-features">
									<!-- <ul>
										<li>Complimentary <strong>Personal Training</strong> Session</li>
										<li>One 30 Minute <strong>Nutritional Consultation</strong></li>
										<li><strong>60 Minute</strong> Barbell Classes</li>
										<li>Nutritional Guidance & Support</li>
										<li>Members Only <strong>Social Events</strong></li>
                    <li>and much more!</li>
									</ul> -->
								</div>
								<div class="pricing-action">
									<a href="/get-started" class="btn btn-danger btn-block btn-lg bgcolor border-color">Sign Up</a>
								</div>
							</div>

						</div>

						<div class="col-md-4">

							<div class="pricing-box">
								<div class="pricing-title">
									<h3>10 SESSIONS</h3>
								</div>
								<div class="pricing-price">
									<span class="price-unit">&dollar;</span>40<span class="price-tenure">/session</span>
								</div>
								<div class="pricing-features">
                  <!-- <ul>
                    <li>Complimentary Personal Training Session</li>
                    <li>One 30 Minute Nutritional Consultation</li>
                    <li>Come on your own schedule</li>
                    <li>Nutritional Guidance & Support</li>
                    <li>Members Only Social Events</li>
                    <li>and much more!</li>
                  </ul> -->
								</div>
								<div class="pricing-action">
									<a href="/get-started" class="btn btn-default btn-block btn-lg">Sign Up</a>
								</div>
							</div>

						</div>

					</div>

				</div>

			</div>

		</section><!-- #content end -->