<div class="fancy-title title-dotted-border title-center">
	<h3>21 Day Challenge Program Options</h3>
</div>

<div class="pricing-box pricing-extended bottommargin clearfix">
	<div class="pricing-desc">
		<div class="pricing-title">
			<h3>Program Only</h3>
		</div>
		<div class="pricing-features">
			<ul class="clearfix">
				<li>Downloadable guide</li>
				<li>Covers Physical Nutritional &amp; Mental Challenges</li>
				<li>Detailed instructions for each day</li>
				<li>Daily video instructions</li>
				<li>Warm-up, Workout, and Cool Down movements</li>
				<li>and much more!</li>
			</ul>
		</div>
	</div>
	<div class="pricing-action-area">

		<div class="pricing-price">
			<span class="price-unit">&dollar;</span>39<span class="price-tenure">one time fee</span>
		</div>
		<div class="pricing-action">
			<button class="button button-3d button-teal button-xlarge nobottommargin snipcart-add-item"
				data-item-id="21-day-challenge"
				data-item-price="39.00"
				data-item-url="/21-day-challenge"
				data-item-description="Online 21 day fitness challenge program."
				data-item-image="/images/21-day-challenge-bg.jpg"
				data-item-name="21 Day Challenge"
				data-item-file-guid="143c8e10-c164-4163-b67d-69a4932f045f">
				Buy Now
			</button>
		</div>
	</div>
</div>

<div class="pricing-box pricing-extended bottommargin clearfix">
	<div class="pricing-desc">
		<div class="pricing-title">
			<h3>Program + Accountability Coach</h3>
		</div>
		<div class="pricing-features">
			<ul class="clearfix">
				<li>Downloadable guide</li>
				<li>Covers Physical Nutritional &amp; Mental Challenges</li>
				<li>Detailed instructions for each day</li>
				<li>Daily video instructions</li>
				<li>Warm-up, Workout, and Cool Down movements</li>
				<li>
					<div class="fancy-title">
						<h4><span>+</span> Access to a <span>personal coach</span>.</h4>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="pricing-action-area">

		<div class="pricing-price">
			<span class="price-unit">&dollar;</span>79<span class="price-tenure">one time fee</span>
		</div>
		<div class="pricing-action">
			<button class="button button-3d button-teal button-xlarge nobottommargin snipcart-add-item"
				data-item-id="21-day-challenge-accountability"
				data-item-price="79.00"
				data-item-url="/21-day-challenge"
				data-item-description="Online 21 day fitness challenge + accountability."
				data-item-image="/images/21-day-challenge-bg.jpg"
				data-item-name="21 Day Challenge + Accountability"
				data-item-file-guid="143c8e10-c164-4163-b67d-69a4932f045f">
				Buy Now
			</button>
		</div>
	</div>
</div>

<div class="pricing-box pricing-extended bottommargin clearfix">
	<div class="pricing-desc">
		<div class="pricing-title">
			<h3>Program + Nutrition Coach</h3>
		</div>
		<div class="pricing-features">
			<ul class="clearfix">
				<li>Downloadable guide</li>
				<li>Covers Physical Nutritional &amp; Mental Challenges</li>
				<li>Detailed instructions for each day</li>
				<li>Daily video instructions</li>
				<li>Warm-up, Workout, and Cool Down movements</li>
				<li>
					<div class="fancy-title">
						<h4><span>+</span> Daily <span>nutritional coaching</span>.</h4>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="pricing-action-area">

		<div class="pricing-price">
			<span class="price-unit">&dollar;</span>99<span class="price-tenure">one time fee</span>
		</div>
		<div class="pricing-action">
			<button class="button button-3d button-teal button-xlarge nobottommargin snipcart-add-item"
				data-item-id="21-day-challenge-nutrition"
				data-item-price="99.00"
				data-item-url="/21-day-challenge"
				data-item-description="Online 21 day fitness challenge + nutrition."
				data-item-image="/images/21-day-challenge-bg.jpg"
				data-item-name="21 Day Challenge + Nutrition"
				data-item-file-guid="143c8e10-c164-4163-b67d-69a4932f045f">
				Buy Now
			</button>
		</div>
	</div>
</div>

<div class="pricing-box pricing-extended bottommargin clearfix">
	<div class="pricing-desc">
		<div class="pricing-title">
			<h3>Program + Accountability & Nutrition Coach</h3>
		</div>
		<div class="pricing-features">
			<ul class="clearfix">
				<li>Downloadable guide</li>
				<li>Covers Physical Nutritional &amp; Mental Challenges</li>
				<li>Detailed instructions for each day</li>
				<li>Daily video instructions</li>
				<li>Warm-up, Workout, and Cool Down movements</li>
				<li>
					<div class="fancy-title">
						<h4><span>+</span> Access to a <span>personal coach</span>.</h4><br>
						<h4><span>+</span> Daily <span>nutritional coaching</span>.</h4>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="pricing-action-area">

		<div class="pricing-price">
			<span class="price-unit">&dollar;</span>139<span class="price-tenure">one time fee</span>
		</div>
		<div class="pricing-action">
			<button class="button button-3d button-teal button-xlarge nobottommargin snipcart-add-item"
				data-item-id="21-day-challenge-accountability-nutrition"
				data-item-price="139.00"
				data-item-url="/21-day-challenge"
				data-item-description="Online 21 day fitness challenge + accountability + nutrition."
				data-item-image="/images/21-day-challenge-bg.jpg"
				data-item-name="21 Day Challenge Program + Accountability & Nutrition"
				data-item-file-guid="143c8e10-c164-4163-b67d-69a4932f045f">
				Buy Now
			</button>
		</div>
	</div>
</div>