		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<!-- Postcontent
					============================================= -->
					<!-- <div class="postcontent nobottommargin">

						<h3>Send us an Email</h3>

						<div class="contact-widget">

							<div class="contact-form-result"></div>

							{% include component-form-contact.html %}

						</div>

					</div> -->
					
					<!-- .postcontent end -->

					<!-- Sidebar
					============================================= -->
					<div class="text-center col_last nobottommargin">

						<address>
							<strong>Location:</strong><br>
              7513 Sussex Dr.<br>
              Florence, KY 41042<br>
						</address>
						<abbr title="Phone Number"><strong>Phone:</strong></abbr> (859) 414-5904<br>
						<abbr title="Email Address"><strong>Email:</strong></abbr> info@triumphstrength.com


						<div class="widget noborder notoppadding">

							<a href="//www.facebook.com/TriumphStrength" class="social-icon si-small si-dark si-facebook">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>

							<a href="//www.youtube.com/channel/UCXaGidt4Bhfrb3vH_3B1TSQ" class="social-icon si-small si-dark si-youtube">
								<i class="icon-youtube"></i>
								<i class="icon-youtube"></i>
							</a>

							<a href="//www.instagram.com/triumphstrength/" class="social-icon si-small si-dark si-instagram">
								<i class="icon-instagram"></i>
								<i class="icon-instagram"></i>
							</a>

							<a href="//www.yelp.com/biz/triumph-strength-and-conditioning-florence" class="social-icon si-small si-dark si-yelp">
								<i class="icon-yelp"></i>
								<i class="icon-yelp"></i>
							</a>

              <a href="https://www.snapchat.com/add/triumphsc" class="social-icon si-small si-dark si-snapchat">
                <i class="icon-snapchat-ghost"></i>
                <i class="icon-snapchat-ghost"></i>
              </a>

						</div>

					</div><!-- .sidebar end -->

				</div>

			</div>

		</section><!-- #content end -->