<div class="fancy-title title-dotted-border title-center">
  <h3>9 Week Strength Program Options</h3>
</div>

<div class="pricing-box pricing-extended bottommargin clearfix">
  <div class="pricing-desc">
    <div class="pricing-title">
      <h3>Program Only</h3>
    </div>
    <div class="pricing-features">
      <ul class="clearfix">
        <li>Downloadable guide</li>
        <li>Focus and insight for each week's lifts</li>
        <li>Covers easy to follow program</li>
        <li>Warm-up and Workouts included</li>
        <li>and much more!</li>
      </ul>
    </div>
  </div>
  <div class="pricing-action-area">
    <div class="pricing-price">
      <span class="price-unit">&dollar;</span>29<span class="price-tenure"
        >one time fee</span
      >
    </div>
    <div class="pricing-action">
      <button
        class="button button-3d button-teal button-xlarge nobottommargin snipcart-add-item"
        data-item-id="9-week-strength"
        data-item-price="29.00"
        data-item-url="/9-week-strength"
        data-item-description="Online 9 week strength program."
        data-item-image="https://images.ctfassets.net/ctmmyckif2fs/6Raq17z57On0UvZrjOntXO/df125bac40f3ebc2bf727ae8bb671a32/9weeks_strength_thumb.jpg"
        data-item-name="9 Week Strength"
        data-item-file-guid="cc920214-2755-44a3-9692-a1e5e9e7f723"
      >
        Buy Now
      </button>
    </div>
  </div>
</div>

<div class="pricing-box pricing-extended bottommargin clearfix">
  <div class="pricing-desc">
    <div class="pricing-title">
      <h3>Program + Accountability Coach</h3>
    </div>
    <div class="pricing-features">
      <ul class="clearfix">
        <li>Downloadable guide</li>
        <li>Focus and insight for each week's lifts</li>
        <li>Covers easy to follow program</li>
        <li>Warm-up and Workouts included</li>
        <li>
          <div class="fancy-title">
            <h4>
              <span>+</span> Access to an <span>accountability coach</span>.
            </h4>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="pricing-action-area">
    <div class="pricing-price">
      <span class="price-unit">&dollar;</span>49<span class="price-tenure"
        >one time fee</span
      >
    </div>
    <div class="pricing-action">
      <button
        class="button button-3d button-teal button-xlarge nobottommargin snipcart-add-item"
        data-item-id="9-week-strength-accountability"
        data-item-price="49.00"
        data-item-url="/9-week-strength"
        data-item-description="Online 9 week strength program + accountability."
        data-item-image="https://images.ctfassets.net/ctmmyckif2fs/6Raq17z57On0UvZrjOntXO/df125bac40f3ebc2bf727ae8bb671a32/9weeks_strength_thumb.jpg"
        data-item-name="9 Week Strength + Accountability"
        data-item-file-guid="cc920214-2755-44a3-9692-a1e5e9e7f723"
      >
        Buy Now
      </button>
    </div>
  </div>
</div>

<div class="pricing-box pricing-extended bottommargin clearfix">
  <div class="pricing-desc">
    <div class="pricing-title">
      <h3>Program + Nutrition Coach</h3>
    </div>
    <div class="pricing-features">
      <ul class="clearfix">
        <li>Downloadable guide</li>
        <li>Focus and insight for each week's lifts</li>
        <li>Covers easy to follow program</li>
        <li>Warm-up and Workouts included</li>
        <li>
          <div class="fancy-title">
            <h4><span>+</span> Daily <span>nutritional coaching</span>.</h4>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="pricing-action-area">
    <div class="pricing-price">
      <span class="price-unit">&dollar;</span>69<span class="price-tenure"
        >one time fee</span
      >
    </div>
    <div class="pricing-action">
      <button
        class="button button-3d button-teal button-xlarge nobottommargin snipcart-add-item"
        data-item-id="9-week-strength-nutrition"
        data-item-price="69.00"
        data-item-url="/9-week-strength"
        data-item-description="Online 9 week strength program + nutrition."
        data-item-image="https://images.ctfassets.net/ctmmyckif2fs/6Raq17z57On0UvZrjOntXO/df125bac40f3ebc2bf727ae8bb671a32/9weeks_strength_thumb.jpg"
        data-item-name="9 Week Strength + Nutrition"
        data-item-file-guid="cc920214-2755-44a3-9692-a1e5e9e7f723"
      >
        Buy Now
      </button>
    </div>
  </div>
</div>

<div class="pricing-box pricing-extended bottommargin clearfix">
  <div class="pricing-desc">
    <div class="pricing-title">
      <h3>Program + Accountability & Nutrition Coach</h3>
    </div>
    <div class="pricing-features">
      <ul class="clearfix">
        <li>Downloadable guide</li>
        <li>Focus and insight for each week's lifts</li>
        <li>Covers easy to follow program</li>
        <li>Warm-up and Workouts included</li>
        <li>
          <div class="fancy-title">
            <h4>
              <span>+</span> Access to an <span>accountability coach</span>.
            </h4>
            <br />
            <h4><span>+</span> Daily <span>nutritional coaching</span>.</h4>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="pricing-action-area">
    <div class="pricing-price">
      <span class="price-unit">&dollar;</span>109<span class="price-tenure"
        >one time fee</span
      >
    </div>
    <div class="pricing-action">
      <button
        class="button button-3d button-teal button-xlarge nobottommargin snipcart-add-item"
        data-item-id="9-week-strength-accountability-nutrition"
        data-item-price="109.00"
        data-item-url="/9-week-strength"
        data-item-description="Online 9 week strength program + accountability + nutrition."
        data-item-image="https://images.ctfassets.net/ctmmyckif2fs/6Raq17z57On0UvZrjOntXO/df125bac40f3ebc2bf727ae8bb671a32/9weeks_strength_thumb.jpg"
        data-item-name="9 Week Strength Program + Accountability & Nutrition"
        data-item-file-guid="cc920214-2755-44a3-9692-a1e5e9e7f723"
      >
        Buy Now
      </button>
    </div>
  </div>
</div>
