body {
  line-height: 1.5;
  color: #555;
  font-size: 16px;
	font-family: 'Lato', sans-serif;
}
ul, ol {
  margin-left: 30px;
}

// @media (min-width: 768px) {
//   .slider-caption-center {
//     top: 178px;
//   }
// }


.crossfit-logo svg {
	width: 130px;
}

.blog-post-preview .col_one_third:nth-child(4) {
  margin-right: 0 !important;
  clear: right;
}


div.image-thumb {
	max-width: 800px;
}

.fixed-ratio {
	padding-top: 56.25%;  /* 450px/800px = 0.5625 */
}

.img-responsive {
		height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-programs {

  .program-left,.program-right {
    height: 50vw;
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    @media (max-width: 575px) {
      height: 80vw;
    }
  }
  .program-left {
    background-image: url("/images/promo-barbell.jpg");
  }
  .program-right {
    background-image: url("/images/promo-crossfit.jpg");
  }
  .program-img {
    width: 80%;
    margin: 5rem 3rem;
  }
}

.dark .feature-box.fbox-bg.fbox-center {
  background-color: #0808086b;
}
.dark .feature-box.fbox-bg.fbox-center.fbox-plain .fbox-icon {
  background-color: transparent !important;
}

// .instagram-widget {
//   overflow: hidden;
//   padding-bottom: 16.5%;
//   height: 0;
//   margin-left: -15px;
//   margin-right: -15px;
// }

footer .accretion-logo svg {
  width: 104px;
  height: auto;
}

.instagram-grad {
  border: none !important;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

#primary-menu ul ul:not(.mega-menu-column), #primary-menu ul li .mega-menu-content {
  top: 70%;
}

.postcontentcentered {
  margin-left: auto;
  margin-right: auto;
  float: initial;
}

.v-hidden {
  visibility: hidden;
}

@media (max-width: 575px) {
  .toggle.toggle-bg .togglec {
    padding: 12px 0 0 0;
  }
}

.schedule {
  .table-bordered thead th, .table-bordered thead td {
    min-width: 100px;
  }
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.slider-parallax-inner {
  min-height: 500px;
  min-height: 100vh;
}

.scroll {
  overflow: scroll;
}

@media (max-width: 575px) {
  #header, #header-wrap, #logo img {
    height: 70px;
  }
  #header, #header-wrap, #logo a {
    padding-top: 6px;
  }
  #primary-menu-trigger {
    top: 18px;
  }
  #primary-menu-trigger i {
    font-size: 34px;
  }

}

.text-white {
  color: #EEE;
}