<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
  {% include head.html %}
</head>

<body class="stretched">

  <!-- Document Wrapper
	============================================= -->
  <div id="wrapper" class="clearfix">

    <!-- Header
		============================================= -->
    {% include header.html class-dark="light" %}
    <!-- #header end -->

    <!-- Page Title
    		============================================= -->
    <section id="page-title">
    
      <div class="container clearfix">
        <h1>{{ page.title }}</h1>
        <span>{{ page.subtitle }}</span>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="/blog">Blog</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
        </ol>
      </div>
    
    </section><!-- #page-title end -->

    <!-- Content
    		============================================= -->
    <section id="content">
    
      <div class="content-wrap">
    
        <div class="container clearfix">
    
          <!-- Post Content
    					============================================= -->
          <div class="postcontent postcontentcentered nobottommargin clearfix">
    
            <!-- Posts
    						============================================= -->
            <div id="posts" class="post-timeline clearfix">
    
              <div class="timeline-border"></div>
    
              {% assign sorted = (site.data.tsc.podcast | sort: 'date') | reverse %}

              {% for episode in sorted %}
                <div class="entry clearfix">
                  <div class="entry-timeline">
                    {{ episode.date | date_to_string | date: "%d" }}
                    <span>{{ episode.date | date_to_string | date: "%b" }}</span>
                    <div class="timeline-divider"></div>
                  </div>
                  <div class="entry-image">
                    <a href="/podcast/{{ episode.slug }}">
                      <img class="image_fade" src="{{ episode.featured_image.url }}" alt="{{ episode.featured_image.title }}">
                    </a>
                  </div>
                  <div class="entry-title">
                    <h2>
                      <a href="/podcast/{{ episode.slug }}">{{ episode.title }}</a>
                    </h2>
                  </div>
                  <ul class="entry-meta clearfix">
                    {% if episode.author.name %}
                    <li>
                      <i class="icon-user"></i>
                      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                        <span class="p-author h-card" itemprop="name">{{ episode.author.name }}</span>
                      </span>
                    </li>
                    {% endif %}
                  </ul>
                  <div class="entry-content">
                    <p>{{ episode.body | markdownify | strip_html | truncate:355 }}</p>
                    <a href="/podcast/{{ episode.slug }}" class="more-link">Read More</a>
                  </div>
                </div>
              {% endfor %}
    
            </div>
            <!-- #posts end -->
    
          </div>
          <!-- .postcontent end -->
    
        </div>
    
      </div>
    
    </section>
    <!-- #content end -->

    <!-- Footer
		============================================= -->
    {% include footer.html %}
    <!-- #footer end -->

  </div>
  <!-- #wrapper end -->

  <!-- Go To Top
	============================================= -->
  <div id="gotoTop" class="icon-angle-up"></div>

  <!-- External JavaScripts
	============================================= -->
  <script src="/js/jquery.js"></script>
  <script src="/js/plugins.js"></script>

  <!-- Footer Scripts
	============================================= -->
  <script src="/js/functions.js"></script>

</body>
</html>